@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-family: "Fredoka", sans-serif;
  overflow: hidden;
}

.main__overflow {
  margin: 0;
  display: flex;
}

.header {
  background: rgb(167, 198, 212);
  text-align: center;
  font-size: 2.7rem;
  padding: 0.5rem 0;
  font-weight: bold;
}
.navigation {
  flex: 0.15;
}
.user-data-container {
  flex: 1;
  overflow: auto;
  height: 100vh;
  margin: 30px 100px;
  font-size: 1.2rem;
  padding-bottom: 150px;
}
::-webkit-scrollbar {
  width: 12px;
  margin: 10px;
}
.create-user-card {
  flex: 1;
  overflow: auto;
  margin: 30px 100px;
  height: 100vh;
  padding-bottom: 150px;
}

.navigation {
  background: rgb(0, 0, 0);
  color: aliceblue;
  height: 100vh;
  padding: 1rem 2rem;
  font-size: 1.8rem;
}

.navigation nav a {
  display: block;
  text-decoration: none;
  color: aliceblue;
  margin: 1rem 0;
}
.navigation nav a.active {
  color: rgb(23, 158, 221);
}
.icon {
  margin-right: 1rem;
}

.create-user-card h1 {
  margin-left: 1rem;
}

.form-field {
  background: #f2f2f2;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  position: relative;
}
form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.form-field input {
  border: none;
  font-size: 1.3rem;
  margin-right: 5rem;
  margin-left: 1rem;
  border-radius: 10px;
  padding: 0.7rem;
}
.form-field input:focus {
  outline: none;
}

.form-field label {
  font-size: 1.3rem;
  margin-left: 30px;
}
.form-field div label {
  font-size: 1.1rem;
}
.form__gender {
  margin-right: 50px;
}
.form__gender > input {
  margin-right: 10px;
}
.form__gender > label {
  margin-right: 50px;
}

.form__hobby input {
  margin-right: 0px;
}
.form__hobby label {
  margin-right: 100px;
}

.valid {
  font-size: 0.5em;
  color: red;
  margin-left: 25px;
  margin-top: 5px;
}

textarea {
  width: 24rem;
  height: 5rem;
  resize: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: "Fredoka", sans-serif;
  border: none;
  border-radius: 10px;
  margin-right: 5rem;
}

input[type="text"],
input[type="number"] {
  width: 25rem;
}

.btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.btn button {
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  background: rgb(23, 158, 221);
  font-family: "Fredoka", sans-serif;
}
.btn button:hover {
  background-color: #cccbcb;
}

table {
  width: 100%;
  text-align: center;
  border: 2px solid #cecccc;
  padding: 20px;
  border-radius: 10px;
}

table th {
  padding: 0.5rem 0;
  background-color: #f2f2f2;
  border-radius: 8px;
  font-size: 1.4rem;
  width: 10%;
}
table td {
  padding: 0.5rem 0;
  overflow-wrap: anywhere;
}

.edit-icon {
  color: rgb(92, 195, 67);
  cursor: pointer;
}

.del-icon {
  color: rgb(251, 61, 61);
  cursor: pointer;
}

.add-btn {
  margin-top: 30px;
}

.add-btn > div {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  background-color: #f2f2f2;
  text-align: center;
  cursor: pointer;
}
.add-btn > div:hover {
  background-color: rgb(167, 198, 212);
}
